//import fonts
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    .left-navigation{
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
}